body {
    border: 2px solid red;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    height: 700px;
}

div {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
}

#start {
    align-items: flex-start;
}

#center {
    align-items: center;
}

#end {
    align-items: flex-end;
}