body {
    display: flex;
}

div {
    border: 2px solid black;
    height: 100px;
    flex-basis: 100px;
}

.flex1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex2 {
    flex-grow: 8;
    flex-shrink: 8;
}

/* 
The three div flex items each want to be 400 px wide.
If the flex container is greater than 1200 px (3 times 400), flex-grow kicks in.
If the flex container is less than 1200 px (3 times 400), flex-shrink kicks in.
*/