a {
    display: block;
    font-size: 8rem;
    font-weight: bold;
    text-decoration: none;    
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

a:hover {
    background-color: black;
    color: white;
}