html {
    background-color: dodgerblue;
}

body {
    background-color: lawngreen;
    border: 10px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    border: 20px groove yellow;
    border-radius: 100%;
}

h1 {
    font-weight: normal;
}

#first {
    color: dodgerblue;
}

#second {
    color: red;
}