body {
    border: 2px solid red;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    height: 700px;
}

div {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgrey;
    text-align: center;
}