p::first-letter {
    font-weight: bold;
    font-size: 3rem;
}

p::first-line {
    color: orangered
}

p {
    display: block;
    margin: 0 auto;
    text-indent: 2.5rem;
    width: 60%;
    text-align: justify;
    line-height: 1.5;
}