body {
    display: flex;
}

div {
    border: 2px solid black;
    height: 100px;
    width: 300px;
    flex-basis: auto;
    /* 
    The above two line are the same as
    flex-basis: 300
    */
}

.flex1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex2 {
    flex-grow: 8;
    flex-shrink: 8;
}