.my_div {
    display: inline-block;
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
}

#one {
    background-color: #ff0000;
}

#two {
    background-color: #0000ff;
}
#three {
    background-color: #ffd700;
}
#four {
    background-color: #308014;
}