.c1 {
  background-color: rgb(2, 34, 95);
}
.c2 {
  background-color: rgb(14, 62, 151);
}
.c3 {
  background-color: rgb(34, 103, 231);
}
.c4 {
  background-color: cornflowerblue;
}
.c5 {
  background-color: rgb(172, 201, 255);
}